In [1]:
import numpy as np
import pandas as pd

###  pd.get_dummies

In [3]:
data = pd.read_csv('car.data', header=None,
                   names=['fea1', 'fea2', 'fea3'])
data

    fea1   fea2   fea3
0  vhigh  vhigh      2
1    med   high      3
2    low    low  5more

In [4]:
fea = data['fea2']
fea

0    vhigh
1     high
2      low
Name: fea2, dtype: object

In [5]:
# get_dummies 是利用pandas
# 实现单列数据的one hot encode的方式
t = pd.get_dummies(fea)
t

   high  low  vhigh
0     0    0      1
1     1    0      0
2     0    1      0

In [6]:
# 对整个dataFrame实现one-hot编码
x = pd.DataFrame()
for col in data.columns:
    t = pd.get_dummies(data[col])
    print("t:", t)
    t = t.rename(columns=lambda x: col + '_' + str(x))
    x = pd.concat((x, t), axis=1)

print(x.shape)
x.head()

t:    low  med  vhigh
0    0    0      1
1    0    1      0
2    1    0      0
t:    high  low  vhigh
0     0    0      1
1     1    0      0
2     0    1      0
t:    2  3  5more
0  1  0      0
1  0  1      0
2  0  0      1
(3, 9)

,fea1_low,fea1_med,fea1_vhigh,fea2_high,fea2_low,fea2_vhigh,fea3_2,fea3_3,fea3_5more
0,0,0,1,0,0,1,1,0,0
1,0,1,0,1,0,0,0,1,0
2,1,0,0,0,1,0,0,0,1

## 2 sklearn.preprocessing.OneHotEncoder
#### 只能编码数字 不能编码字符串  所以作用不大

In [7]:
from sklearn.preprocessing import OneHotEncoder

X = np.array([[1,2,3,4,5],
              [5,4,3,2,1],
              [3,3,3,3,3]])
print("before transform:\n",X)
encoder=OneHotEncoder(sparse=False)
encoder.fit(X)
print("\nactive_features_:",encoder.active_features_)
print("\nfeature_indices_:",encoder.feature_indices_)

before transform:
 [[1 2 3 4 5]
 [5 4 3 2 1]
 [3 3 3 3 3]]

active_features_: [ 1  3  5  8  9 10 14 17 18 19 21 23 25]

feature_indices_: [ 0  6 11 15 20 26]

E:\software\anaconda191212\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
E:\software\anaconda191212\lib\site-packages\sklearn\utils\deprecation.py:100: DeprecationWarning: The ``active_features_`` attribute was deprecated in version 0.20 and will be removed 0.22.
  warnings.warn(msg, category=DeprecationWarning)
E:\software\anaconda191212\lib\site-packages\sklearn\utils\deprecation.py:100: DeprecationWarning: The ``feature_indices_`` attribute was deprecated in version 0.20 and will be removed 0.22.
  warnings.warn(msg, category=DeprecationWarning)

In [8]:
print("\nn_values_:",encoder.n_values_)
print("\nafter transform:",encoder.transform( [[1,2,3,4,4]]))

n_values_: [6 5 4 5 6]

after transform: [[1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0.]]

E:\software\anaconda191212\lib\site-packages\sklearn\utils\deprecation.py:100: DeprecationWarning: The ``n_values_`` attribute was deprecated in version 0.20 and will be removed 0.22.
  warnings.warn(msg, category=DeprecationWarning)

###  label_binarize
主要用于对y进行one hot编码

In [9]:
from sklearn.preprocessing import label_binarize
data = pd.read_csv('car.data', header=None, 
                   names=['fea1', 'fea2', 'fea3'])
data

    fea1   fea2   fea3
0  vhigh  vhigh      2
1    med   high      3
2    low    low  5more

In [10]:
label_binarize(data['fea2'], 
               classes=['vhigh', 'high', 'low'])

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])