In [1]:
from sklearn.preprocessing import Binarizer
import numpy as np
import pandas as pd

In [2]:
# list
X = [[1,2,3,4,5],
     [5,4,3,2,1],
     [3,3,3,3,3],
     [1,1,1,1,1]]
binarizer = Binarizer(threshold=2.5)
res = binarizer.transform(X)
print(res)
print(X) # 原始值并不变化,如果希望变化需要增加参数

[[0 0 1 1 1]
 [1 1 1 0 0]
 [1 1 1 1 1]
 [0 0 0 0 0]]
[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [3, 3, 3, 3, 3], [1, 1, 1, 1, 1]]

In [3]:
# np
X = [[1, 2, 3, 4, 5],
     [5, 4, 3, 2, 1]]
x = np.array(X)
binarizer = Binarizer(threshold=3)
res = binarizer.transform(x)
res

array([[0, 0, 0, 1, 1],
       [1, 1, 0, 0, 0]])

In [4]:
# dataFrame
data = pd.read_csv("iris.data", header=None)
x = data.iloc[:, :4]
print(x)
binarizer = Binarizer(threshold=3.0)
res = binarizer.transform(x)
res

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  5.0  3.3  1.4  0.2
2  7.0  3.2  4.7  1.4
3  6.2  2.9  4.3  1.3
4  6.5  3.0  5.2  2.0
5  6.2  3.4  5.4  2.3

array([[1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 1., 1., 0.]])

In [5]:
x

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  5.0  3.3  1.4  0.2
2  7.0  3.2  4.7  1.4
3  6.2  2.9  4.3  1.3
4  6.5  3.0  5.2  2.0
5  6.2  3.4  5.4  2.3